* {
  font-size: 12px;
  font-family: "Terminus (TTF)";
}

window#waybar {
  background: rgba(0,0,0,0);
  margin: 0px;
  padding: 0px;
}

#workspaces button.focused {
  color: #EA3AE9;
}

#battery {
  margin: 3px 0px;
  background: #1d1f21;
  padding: 3px;
  color: #c5c8c6;
}

#custom-quit, #custom-power {
  margin: 3px 0px;
  padding: 3px;
  border: 2px solid #EA3AE9;
  background: #EA3AE9;
  color: #FFF;
}

#custom-quit {
  margin-right: 10px;
  padding: 3px 12px 3px 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#clock {
  font-weight: bold;
  margin: 3px;
  padding: 3px 5px;
  color: #FFF;
  border-radius: 10px;
  border: 2px solid #EA3AE9;
  background: #EA3AE9;
}

#custom-keyboard {
  background: #1d1f21;
  color: #c5c8c6;
  padding: 3px 3px 3px 7px;
  margin: 3px 0px 3px 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-media {
  margin: 3px;
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
  background: #1d1f21;
  color: #c5c8c6;
}
#pulseaudio {
  margin: 3px 0px 3px 0px;
  padding: 3px 10px 3px 3px;
  background: #1d1f21;
  color: #c5c8c6;
}

#network {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 3px;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
